[submodule "lib/shogle"]
	path = lib/shogle
	url = https://github.com/nesktf/shogle.git
[submodule "lib/chimatools"]
	path = lib/chimatools
	url = https://github.com/nesktf/chimatools.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
